[Desktop Entry]
Name=Slrn
Type=Application
Comment=Usenet News Reader
Comment[es]=Lector de Noticias Usenet
Comment[pl]=Czytnik newsów
Comment[pt]=Leitor de Notícias Usenet
Comment[pt_BR]=Leitor de Notícias Usenet
Comment[sv]=Usenet-diskussionsgruppsläsare
Icon=slrn.png
Exec=slrn
Terminal=true
# vi: encoding=utf-8
